.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(107, 76, 76, 0.77);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-box {
  background-color: #595040;
  border-radius: 12px;
  padding: 50px; /* ✅ small 50px padding */
  width: 350px;
  max-width: 90%;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-box h2 {
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
  color: #010101;
}

.modal-box input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 1px solid #351111;
  font-size: 1rem;
}

.modal-box button {
  width: 100%;
  padding: 0.6rem;
  border-radius: 6px;
  border: none;
  font-weight: bold;
  background-color: #3b82f6;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.modal-box button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 12px;
  font-size: 1.2rem;
  cursor: pointer;
  color: #e99312;
}

.switch-link {
  color: #0dc566;
  cursor: pointer;
  font-weight: 500;
  margin-top: 0.8rem;
}
